html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#video {
  position: relative;
}
#publisher {
  position: relative;
}

.chat {
  text-align: left;
  position: absolute;
  bottom: -16px;
  left: 720px;
}

.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:50px;
  height: 50px;
  object-fit: contain;
  border-radius: 100%;
}
.ownBubble {
	min-width: 60px;
	max-width: 400px;
  padding: 4px 12px;
  margin: 6px 8px;
	color: #666d78;
	background-color: #EAF2FF;
	border-radius: 16px 16px 0 16px;
	border: 1px solid #D6E5FC;
 
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 4px 12px;
  margin: 6px 8px;
	color: #666d78;
	background-color: #F9F9F9;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #e8e8e8;
  
}
.own {
	align-self: flex-end;
}
.other {
	align-self: flex-start;
}

.send-message-input {
  opacity: 0.8;
}

.messages {
  height: 200px;
  overflow-y: scroll;
}
.messages::-webkit-scrollbar { 
  width: 0 !important;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#subscribers {
  position: absolute;
  top: 10px;
  right: 740px;
  border: 1px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-left: 10px;
  font-weight: 700;
  color: white;
}

#subscribers i {
  color: red;
  font-size: 20px;
}